{
  "presets": [
    "@babel/env",
    "@vue/cli-plugin-babel/preset"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators"
      , { "legacy": true }
    ],
    [
      "@babel/plugin-proposal-class-properties"
      , { "legacy": true }
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "@babel/plugin-transform-runtime"
    ]
  ]
}